::ng-deep {
    .mat-menu-content {
        padding: 0px !important;
        background: none !important;
        // width: 450px;
        // min-width: 450px;
    }
    .custom-menu-container {
        right: 18px;
        transform: rotate(45deg) translateX(-7px);
    }
}

.header-bg {
    background-color: #05172d;
}
.active-link{
    border-radius: 10px;
    background: #1E2E42;
}