.bg_events_sponsors{
    background: #FEFAE6;
}
.bg_event_tab{
    background: #EEEEEE;
}
.bg_border_tab_active{
    border-left: 5px solid #124F97;
}
.bg-alternate {
    background-color: #F9FAFB;
}

.bg-white {
    background-color: #ffffff;
}
.show-check{
    visibility: visible !important;
}

