.bg-save {
    background-color: #EEEEEE;
}

.left {
    left: 290px;
}

.transform {
    transform: translate(363px, -150px);
}

.text-forgotpassword {
    color: #3B67B2;
}

.bg-disable{
    background-color: #ECEFF2 !important;
}

::ng-deep {
    .nsm-dialog {
        max-width: 50% !important;
    }
    .mat-checkbox-frame {
        border-width: 1px !important;
        border-style: solid;
        border-radius: 4px;
    }
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background: linear-gradient(353.62deg, #678B05 4.89%, #87AF1B 86.86%) !important;
    }
    .mat-checkbox-inner-container {
        height: 18px !important;
        width: 18px !important;
    }
}

input::-ms-reveal,
input::-ms-clear {
display: none;
}