<div class="w-full cursor-pointer focus:outline-none flex justify-start items-stretch">
    <div class="custom-border"></div>
    <div class="flex-grow px-8 space-y-4 py-4 flex  flex-col overflow-x-hidden bg-blue-100">
        <div class="flex items-center  max-w-full space-x-6">
            <div class="flex-grow-0 flex-shrink-0 w-50-px h-50-px">
                <img src="assets/empty_states/profile_avatar4.png" class="object-cover w-full" alt="">
            </div>
            <div class="w-full grid grid-cols-4 grid-flow-row">
                <div class="barlow-bold font-semibold default-text-color col-span-4 text-base flex overflow-hidden justify-between items-center mb-1">
                    John Ailo Cahibaybayan
                </div>
                <div class="col-span-4 default-text-color">
                    Active 30 minutes ago
                </div>
            </div>
        </div>
        <div class="barlow-bold">
            HI!
        </div>
    </div>
</div>