.pl_search{
    padding-left: 40px;
}
.pl-search{
    padding-left: 40px;
}

.text-y{
    color: #3B67B2;
}

.btn-yes{
    color: #6E6E6E;
    &:hover{
        color: #3B67B2;
        text-decoration: underline;
    }
}

.btn-no{
    color: #6E6E6E;
    &:hover{
        color: #3B67B2;
        text-decoration: underline;
    }
}