::ng-deep{
    .mat-form-field-hide-placeholder .mat-select-placeholder {
        color: transparent;
        -webkit-text-fill-color: transparent;
        transition: none;
        display: block;
        padding: 3px;
    }
    // .mat-select {
    //     display: inline-block;
    //     width: 100%;
    //     outline: none;
    //     margin-top: 4px;
    // }
}

.pagination {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 3px;
  }
  
  .pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;

    &.active{
        background-color: white;
        color: #3B67B2;
        border-bottom: 2px solid #3B67B2;
    }
  }
